<!DOCTYPE html>
<html xmlns:th="http://www.thumeleaf.org">
<head lang="en">
  <title>HomeLabs</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
    rel="stylesheet" meadi="screen" />

  <script src="http://cde.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
    th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hello</h1>
      <h2>Fellow!</h2>
      <button type="button" class="btn btn-success">Sucesso</button>
    </div>
  </div>
</body>
</html>
